*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: hsl(220deg, 11%, 89%);
    height: 689px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 35px;
}

.logo img{
    margin-left: 120px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: #545454;
}

.btn{
    padding: 14px 20px;
    background-color: hsl(255deg, 43%, 28%);
    color: hsl(0deg, 0%, 100%);
    border-radius: 6px;
    border: none;

}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;

}

.box1{
    width: 650px;
    margin-left: 130px;

}

.para,
.para1,
.form,
box1 h1{
    padding: 10px 35px;
}

.para{
    background-color: hsl(255deg, 43%, 28%);
    color: hsl(258deg, 43%, 83%);
    border-radius: 20px;
    width: 435px;
    margin-left: 40px;
}

.para a{
    color: hsl(258deg, 43%, 83%)
}

.box1 h1{
    font-size: 50px;
    color: hsl(245deg, 24%, 26%);
}

.para1{
    color: hsl(0deg, 0%, 33%);
}

input{
    padding: 10px;
    width: 300px;
    border: 1px solid lightpink;
    border-radius: 2px;

}

.input::placeholder{
    color: hsl(220deg, 2%, 75%);
}
.box2{
    margin-right: 170px;
}
.box2 img{
    width: 350px;
height: 350px;
}

.partner{
    width: 500px;
    margin-left: 150px;
    padding: 10px 35px;
    color: hsl(0deg, 0%, 33%);
}

.partner h3{
    padding: 10px;
}

.company{
    display:flex;
    justify-content: space-around;
    align-items: center;
}